<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Questioner | About Us</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width">
		</head>
<body>
	<header>
		    <div class="container">
             
             <div id=branding>
             	<h1><span class="highlight">Quest</span> Meetup</h1>
             </div><p onclick="m()" id="men"><a href="#">Menu</a></p>
             <nav id="nv">
             	<ul>
             		<li ><a href="index.html">Home</a></li>
             		<li class="current"><a href="about.html">About</a></li>
                    <li><a href="create.html">CreateMeetup</a></li>
                    <li><a href="sign.html">SignUp</a></li>
                    <li><a href="login.html">Login</a></li>
                    
             	</ul>
             	
             </nav>

		    </div>
		    
		 
	</header> 

	

	<section id="main">
		<div class="container">

			<article id="main-col">
				<h1 class="page-title">About Us</h1>
				<p> 
					Getting together with real people in real life makes powerful things happen. Side hustles become careers, ideas become movements, and chance encounters become lifelong connections. Meetup brings people together to create thriving communities.
				One way to meet new people, to make friends or practice your social skills, is through meet ups organized over the internet. At the moment the most popular and well-known site for this is questioner.com, which lets you attend or create local meet up groups</p>
				<p class="dark">One way to meet new people, to make friends or practice your social skills, is through meet ups organized over the internet. At the moment the most popular and well-known site for this is Meetup.com, which lets you attend or create local meet up groups</p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p class="dark">One way to meet new people, to make friends or practice your social skills, is through meet ups organized over the internet. At the moment the most popular and well-known site for this is Meetup.com, which lets you attend or create local meet up groups</p>
				
			</article>

			<aside id="sidebar">
				<div class="dark">
				<h3>What we do</h3>
				<p> Meet ups are attended by all types of people. Most are regular folk who either want to add some new blood to their social circle, have recently moved to the area, or want to take part in a particular hobby. </p>
			</div>
				
			</aside>
			</div>

		


	</section>
	<div id="footer">
	<footer>
		
		<p>Quest Meetup, Copyright &copy; 2019</p>
		</footer>
	</div>
	<script type="text/javascript" src="../js/javascript.js"></script>
 </body>
</html>