<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Questioner | Create MeetUp</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width">
		</head>
<body>
	<header>
		    <div class="container">
             
             <div id=branding>
             	<h1><span class="highlight">Quest</span> Meetup</h1>
             </div><p onclick="m()" id="men"><a href="#">Menu</a></p>
             <nav id="nv">
             	<ul>
             		<li><a href="index.html">Home</a></li>
             		<li><a href="about.html">About</a></li>
                    <li class="current"><a href="create.html">CreateMeetup</a></li>
                    <li><a href="sign.html">SignUp</a></li>
                    <li><a href="login.html">Login</a></li>

             	</ul>       	
           </nav>
		    </div>
		   
		   
	</header> 


	<section id="main">
		<div class="container">
			<div class="quote">
				
			<h1>Create meetup</h1>
			<form>
				<div>
					<label><b>Title</b></label><br>
					
					<textarea name="head" rows="1" cols="40" placeholder="type Meetup title"></textarea>
				</div>
				<div>
					<label><b>Description</b></label><br>
					<textarea name="subject" rows="4" cols="40" ></textarea>
				</div>
				<div>
					<label><b>Location</b></label><br>
					<textarea name="location" rows="1" cols="40" placeholder="type Meetup Description"></textarea>
				</div>
				<div>
					<label><b>Start Time</b></label>
					<input type="time" name=""  width="50px">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
       
					<label><b>End Time </b></label>
					<input type="time" name="">

				</div><br>

				
				<input type="submit" name="" class="button_1" value="Create">
				
			</form>
		

	
			

		</div>
	</div>
	</section>
	<footer>
		<p>Quest Meetup, Copyright &copy; 2019</p>
	</footer>
 <script type="text/javascript" src="../js/javascript.js"></script>
</body>
</html>