<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Questioner | Create MeetUp</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width">
		</head>
<body>
	<header>
		    <div class="container">
             
             <div id=branding>
             	<h1><span class="highlight">Quest</span> Meetup</h1>
             </div> 
             <nav>
             	<ul>
             		<li><a href="index.html">Home</a></li>
             		<li><a href="about.html">About</a></li>
                    <li class="current"><a href="meetup.html">Meetup</a></li>
                    <li><a href="contact.html">Contact</a></li>


             	</ul>
             	
             </nav>

		    </div>
		   
	</header> 

	
	<section id="newsletter1">

		<div class="container">
			<h1>Subscribe To Our Newsletter</h1>
			<form>
				<input type="email" name="" placeholder="Enter Email...">
				<button type="submit" class="button_1">Subscribe</button>
			</form>
		</div>
	</section>

	<section id="main">
		<div class="container">
			<div class="quote">
			<h1>Create meetup</h1>
			<form>
				<div>
					<label>Title</label><br>
					
					<textarea name="head" rows="1" cols="33" placeholder="type Meetup title"></textarea>
				</div>
				<div>
					<label>Description</label><br>
					<textarea name="subject" rows="4" cols="33" ></textarea>
				</div>
				<div>
					<label>Location</label><br>
					<textarea name="location" rows="1" cols="33" placeholder="type Meetup Description"></textarea>
				</div>
				<div>
					<label>Start Time</label>
					<input type="time" name=""><br>
					<label>End Time </label>
					<input type="time" name="">

				</div><br>

				
				<input type="submit" name="" class="button_1" value="Create">
				
			</form>
		

	
			

		</div>
	</div>
	</section>
	<footer>
		<p>Quest Meetup, Copyright &copy; 2018</p>
	</footer>
 
</body>
</html>