<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Questioner | Join MeetUp</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width">
		</head>
<body>
	<header>
		    <div class="container">
             
             <div id=branding>
             	<h1><span class="highlight">Quest</span> Meetup</h1>
             </div> 
             <nav>
             	<ul>
             		<li><a href="index.html">Home</a></li>
             		<li><a href="about.html">About</a></li>
                    <li class="current"><a href="meetup.html">Meetup</a></li>
                    <li><a href="contact.html">Contact</a></li>


             	</ul>
             	
             </nav>

		    </div>
		   
	</header> 

	
	<section id="newsletter1">

		<div class="container">
			<h1>Subscribe To Our Newsletter</h1>
			<form>
				<input type="email" name="" placeholder="Enter Email...">
				<button type="submit" class="button_1">Subscribe</button>
			</form>
		</div>
	</section>

	<section id="main">
		<div class="container">
			<div id="join"><br>
				<h1>Join the meetup</h1>
               <img src="../img/youthSpeak.jpg" height="290" width="400"><br>
               <p>Youth Speak Forum is an event organized by AIESEC<br> 
               that takes place once ayear in multiple locations<br> 
               around the world, The aim is to generate actionable<br>
               ideas and initiatives to be taken forward to impact the world</p>
               <button type="submit" class="button_1">+ Add me</button>



			</div>
		</div>


	</section>
	<footer>
		<p>Quest Meetup, Copyright &copy; 2018</p>
	</footer>
 
</body>
</html>