<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Questioner | MeetUp</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width">
		</head>
<body>
	<header>
		    <div class="container">
             
             <div id=branding>
             	<h1><span class="highlight">Quest</span> Meetup</h1>
             </div><p onclick="m()" id="men"><a href="#">Menu</a></p>
             <nav id="nv">
             	<ul>
             		<li><a href="index.html">Home</a></li>
             		<li><a href="about.html">About</a></li>
                    <li class="current"><a href="meetup.html">Meetup</a></li>
                    <li><a href="contact.html">Contact</a></li>


             	</ul>
             	
             </nav>

		    </div>
		   
	</header> 

	
	<section id="newsletter1">

		<div class="container">
			<h1>Subscribe To Our Newsletter</h1>
			<form>
				<input type="email" name="" placeholder="Enter Email...">
				<button type="submit" class="button_1">Subscribe</button>
			</form>
		</div>
	</section>

	<section id="main">
		<div class="container">
			<h4>Getting together with real people in real life makes powerful things happen. Side hustles become careers, ideas become movements, and chance encounters become lifelong connections. Meetup brings people together to create thriving communities.</h4>

			<section id="boxes">
		<div class="container">
			<div class="box">
				<img src="../img/images.jpg">
				<a href="join.html"><h3>Join the near MeetUp</h3></a>
				<p>Join the nearly community meetup, involve in what is happening to your community</p>
			</div>
			<div class="box">
				<img src="../img/imagess.jpg">
				<a href="create.html"><h3>Create MeetUp</h3></a>
				<p>you can easily create a meetup, people will join you in little bit time</p>
			</div>
			<div class="box">
				<img src="../img/picture.jpg">
				<a href="trends.html"><h3>trends MeetUp</h3></a>
				<p>see what many people are doing, you may join their meetups</p>
			</div>
		</div>


		
	</section>
			

		</div>


	</section>
	<footer>
		<p>Quest Meetup, Copyright &copy; 2018</p>
	</footer>
 <script type="text/javascript" src="../js/javascript.js"></script>
</body>
</html>